
@*// Будет подставлено в RenderBody основого шаблона (если он указан)*@

<h2>Все автомобили</h2>
<h3>@Model.currentCategory</h3>


@*Класс блока:  row
Оступ сверху: 5 (mt-5 -- класс Bootstrap)
Отступ снизу: 2 (mt-2 -- класс Bootstrap)*@



<div class="row mt-5 md-2">
    @{
    foreach(Car car in Model.allCars) {
        @Html.Partial("AllCars", car)
    }
}


</div>
